*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    box-sizing: inherit;
    font-size: 62.5%;
}

body{
    font-size: 1.8rem;
    padding: 2rem;
    background-color: #5eaaa8;
    font-family: Verdana;
}
/* Animal Grid index */
 .adminCard, .gridCard{
    grid-column: span 12;
    width: 100%;
    height: 50rem;
    box-shadow: 0 0.5rem 2rem rgba(37,42,52);
    position: relative;
    background-color: #a3d2ca;
}

.gridCard > article{
    width: 100%;
    height: 100%;
}
.adminCard__header,
.gridCard__header, .showCard__header{
    width: 100%;
    height: 10%;
}
.adminCard__heading, 
.gridCard__heading, .showCard__heading{
    color: #252a34;
}
.gridCard__figure{
    width: 100%;
    height: 70%;
}
.gridCard__image{
    width: 80%;
    height: 100%;
    object-fit: cover;
}
.gridCard__buttonSection{
    height: 20%;
    /* padding-left: 2rem; */
}
.adminCard__button, .create-form__button,
.gridCard__button, .showCard__button{
    width: 20rem;
    height: 6rem;
    font-size: 120%;
    /* padding: 1rem 2rem; */
    box-sizing: border-box;
    background-color: #5eaaa8;
    border: none;
    color: #eeeeee;
    box-shadow: 0 0 4rem rgba(37,42,52, 0.5);
    transition: 0.2s all;
}
 .adminCard__button:hover, .create-form__button:hover,
.gridCard__button:hover, .showCard__button:hover{
    cursor: pointer;
    box-shadow: 0 0 5rem rgba(37,42,52, 1);;
}

/* Animal info page */
.showCard{
    width: 90vw;
    height: 90vh;
    margin: 0 auto;
    background-color: #a3d2ca;
    box-shadow: 0 0.5rem 2rem black;
    position: relative;    
}
.showCard__figure{
    width: 100%;
    height: 60%;    
}
.showCard__image{
    width: 75%;
    height: 100%;
    object-fit: cover;
}
.showCard__text{
    color: #252a34;
    height: 15%;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}
.showCard__buttonSection{
    height: 15%;
    display: block;
}
.showCard__button{   
    font-size: 100%;
    margin: 1rem;   
}

/* Admin pages tweaks*/
.adminCard{
    height: 40vh; 
}
.adminCard__header{
    height: 20%;
    margin-top: 1.5rem;
}
 .adminCard__text{
    color: #252a34;
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}
.adminCard__buttonSection{
    height: 40%;
    padding-bottom: 1rem;
}

/* Navigation*/
/* Source: https://www.cssscript.com/mobile-site-navbar/ */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    background-color: #a3d2ca;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 0.5rem 2rem rgba(37,42,52);

}
.navbar__heading{
    color: #252a34;
}
.navbar__list{
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 75%;
    height: 100vh;
    background-color: rgb(248, 241, 241, 0.9) ;
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    z-index: 1000;
    transform: translateX(-100%);;
    transition: transform 0.5s;
}
.navbar__item .navbar__link{
    display: block;
    color: #252a34;
    padding: 1rem 1.8rem;
    text-decoration: none;
}

 .navbar__link:hover{
    border-bottom: 3px solid #eb5e0b;
}
.open .navbar__list{
    transform:translateX(0);
}
.menu-toggle {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3.2rem;
    height: 3.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.hamburger {
    width: 2.4rem;
    height: 3px;
    background-color: #eb5e0b;
    border-radius: 2px;
    border: none;
    transition: all 0.7s ease-out;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    width: 2.4rem;
    height: 3px;
    background-color: #eb5e0b;
    border-radius: 2px;
    border: none;
}
.hamburger::before {
    transform: translateY(-8px);
}

.hamburger::after {
    transform: translateY(8px);
}
.open .hamburger {
    background: transparent;
}

.open .hamburger::before {
    transform-origin: 0% 0%;
    transform: rotate(45deg);
}

.open .hamburger::after {
    transform-origin: 0% 0%;
    transform: rotate(-45deg);
}

/* Filter */
.filter-section{
    width: 100%;
    color: #252a34;
    font-size: 120%;
    margin-bottom: 2rem;
    background-color: #a3d2ca;
    display: block;
    z-index: 1000;
    overflow: auto;
    box-shadow: 0 0.5rem 2rem rgba(37,42,52);


}
.filter-section__wrapper{
    float: left;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Create pages */
.create-form{
    width: 90vw;
    margin: 0 auto;
    box-shadow: 0 0.5rem 2rem #252a34;
    min-height: 70vh;
    display: flex;
    color: #252a34;
    background-color: #a3d2ca;
}
.create-form__form{
    width: 90%;
    margin: 0 auto;
}
.create-form__section{
    margin-top: 2rem;
    font-size: 120%;
    width: 100%;
}
.create-form__input{
    display: block;
    margin-top: 1rem;
    width: 80%;
    font-size: 100%;
    font-weight: 400;
    font-family: sans-serif;
}
.create-form__input--big{
    height: 20rem;
}
.create-form__button{
    padding: 1rem 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* fancy things */
/* Corner style per species */
.gridCard::after{
    content: '' ;
    width: 10%;
    height: 10%;    
    position: absolute;
    bottom: 0;
    right: 0;
    clip-path: polygon(100% 0, 100% 100%, 0% 100%);
}
.showCard::after{
    content: '' ;
    width: 10%;
    height: 10%;    
    position: absolute;
    top: 0;
    right: 0;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}
.gridCard[data-species-of-animal="Kat"]::after,
.showCard[data-species-of-animal="Kat"]::after{
    background-color: #ff2e63;
}
.gridCard[data-species-of-animal="Hond"]::after,
.showCard[data-species-of-animal="Hond"]::after{
    background-color: #ffd82c;
}
.gridCard[data-species-of-animal="Vogel"]::after,
.showCard[data-species-of-animal="Vogel"]::after{
    background-color: #eb5033;
}
/* animation */
@media (prefers-reduced-motion: no-preference){
    .a-popup{
        -webkit-animation: popup 0.8s ;
        -moz-animation: popup 0.8s ;
        -o-animation: popup 0.8s ;
        animation: popup 0.8s ;
    }    
}
@media (prefers-reduced-motion: reduced){
    .a-popup{
        -webkit-animation: popup 1.2s ;
        -moz-animation: popup 1.2s ;
        -o-animation: popup 1.2s ;
        animation: popup 1.2s ;
    }    
}

.a-popup{
    -webkit-animation-fill-mode: backwards;    
    -moz-animation-fill-mode: backwards;    
    -o-animation-fill-mode: backwards;   
    animation-fill-mode: backwards;
}
.a-popup:nth-of-type(2n){
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    -o-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
.a-popup:nth-of-type(3n){
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
 
@-webkit-keyframes popup {
    0%{
        transform: scale(1.05) translateY(1.8rem);
        opacity: 0;
    }
    70%{
        transform: scale(1);
    }
    100%{
        opacity: 1;
    }
}
@-moz-keyframes popup {
    0%{
        transform: scale(1.05) translateY(1.8rem);
        opacity: 0;
    }
    70%{
        transform: scale(1);
    }
    100%{
        opacity: 1;
    }
}
@-o-keyframes popup {
    0%{
        transform: scale(1.05) translateY(1.8rem);
        opacity: 0;
    }
    70%{
        transform: scale(1);
    }
    100%{
        opacity: 1;
    }
}
@keyframes popup {
    0%{
        transform: scale(1.05) translateY(1.8rem);
        opacity: 0;
    }
    70%{
        transform: scale(1);
    }
    100%{
        opacity: 1;
    }
}



/* utilty classes */
.u-list-style-none{
    list-style: none;
}
.u-grid-12{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}
.u-grid-gap-2{
    grid-gap: 2rem;
}

.u-flex-v-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Media queries */
@media (min-width: 31.25rem){
    .showCard{
        width: 70vw;
    }
}
@media (min-width: 37.5rem ) {
    .banCard, .adminCard, .gridCard{
        grid-column: span 6;
    }
    .showCard{
        width: 60vw;
    }    
}
@media (min-width: 46.875rem){
    .showCard{
        width: 50vw;
    }
    .navbar__heading{
        font-size: 2rem;;
    }
    
    .navbar__list {
        position: initial;
        width: initial;
        height: initial;
        background-color: transparent;
        padding: 0;
        justify-content: initial;
        flex-direction: row;
        transform: initial;
        transition: initial;
    }
    .navbar__link {
        font-size: 1.4rem;
        transition: all 0.1s;
        border: 3px solid #a3d2ca;
    }
   
    .menu-toggle {
        display: none;
    }
  
}
@media (min-width: 53.125rem){
    .showCard{
        width: 40vw;
    }
    .navbar__link {
        font-size: 1.5rem;
    }

    
}
@media (min-width: 56.25rem ) {
    .gridCard{
        grid-column: span 3;
    }
    .banCard, .adminCard{
        grid-column: span 6;
    }
    .showCard{
        width: 30vw;
    }
    .navbar__link {
        font-size: 1.8rem;
    }

}


/* Palettes 
Main: https://colorhunt.co/palette/252800
Extras;
    https://colorhunt.co/palette/17117
    https://colorhunt.co/palette/2358
*/
